<html>
<head>
    <title>Recommendations</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">Recommendations</h1>
        <div class="row center">
            <h5 class="header col s12 light">Here are all your recommendations</h5>
        </div>
        <br><br>
        <div class="row">
            {% for movie in value %}
            <b>{{ movie }} </b><br/>
            {% endfor %}
        </div>
    </div>
</div>

</body>
</html>